<!DOCTYPE html>
<head>   
    
 
   <script type="text/javascript">
      $(function () {
         $('#dialogMsg').dialog();
      });
      
      $(function() {
    	$("#dlg_hello").dialog({
			autoOpen : false
		});
		$("#btn_hello").button().click(function() {
			$("#dlg_hello").dialog("open");
		});
  	  });  
   </script>  

</head>
<body>
   <form id="form1" runat="server">
      <div id="dialogMsg" title="First JqueryUI Example">
         Hello this is my first JqueryUI example.
      </div>
   </form>
   	<button id="btn_hello">Say Hello</button>
	<div id="dlg_hello">Hello World!</div>
</body>
<html>