<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pack.meteostationapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission  android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission  android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/weather_clouds_icon"
        android:label="@string/app_name">
        <!--  android:theme="@style/AppTheme" > --> 
        <!-- "com.pack.meteostationapp.MainActivity"  > -->
        <activity
            android:name="com.pack.meteostationapp.MainActivity"   
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pack.meteostationapp.BtDeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/scanning" 
            android:theme="@android:style/Theme.Holo.Dialog" />
    
        <activity android:name="com.pack.meteostationapp.Results" />
        <activity android:name="com.pack.meteostationapp.TempActivity" />
        <activity android:name="com.pack.meteostationapp.LightActivity" />
        <activity android:name="com.pack.meteostationapp.HumidityActivity" />
        <activity android:name="com.pack.meteostationapp.PressureActivity" />
		<activity android:name="com.pack.meteostationapp.chart.RMSTimeChart" />
		<activity android:name="com.pack.meteostationapp.chart.FFTChart" />
		<activity android:name="com.pack.meteostationapp.chart.TemperatureChart" />
		<activity android:name="com.pack.meteostationapp.chart.CurrentDialChart" />
		<activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="com.pack.meteostationapp.wificonfig.CC3XConfigActivity"   android:windowSoftInputMode="adjustPan|stateHidden"  android:theme="@android:style/Theme.NoTitleBar" >
            android:configChanges="keyboardHidden|orientation|screenSize"  android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name="com.pack.meteostationapp.wificonfig.CC3XAboutUs"  android:windowSoftInputMode="stateAlwaysHidden" android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
		</application>

</manifest>
