




        <div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

            <div class="row station-window">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                 <!--       <div class="panel-heading">
                            Basic Tabs
                        </div>  -->
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs menu-choser">
                                <li class="active" id="infodata-btn"><a href="#home" data-toggle="tab">Data</a>
                                </li>
                                <li id="charts-btn"><a href="#profile" data-toggle="tab">Charts</a>
                                </li >
                                <li id="msgs-btn"><a href="#messages" data-toggle="tab">Messages</a>
                                </li>
                                <li id="settings-btn"><a href="#settings" data-toggle="tab">Settings</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" id="datacontent">
                                <div class="tab-pane fade in active" id="data">

                                </div>
                                <div class="tab-pane fade" id="charts">
                                  
                                </div>
                                <div class="tab-pane fade" id="messages ">
 
                                </div>
                                <div class="tab-pane fade" id="settings ">

                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
    <!-- Page Content -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
            <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Weather Stations of the world (Luktech) 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>